/*Estilos para o h1*/

/*Exemplo de regra CSS*/

html{
    font-size: 16px;
}

header{
    font-size: 62.5%;
}

h1 {
    color: #f01;
    font-size: 2.5em;
    text-align: center;
}

/*Exemplo de seletores*/
/*Seletores de tipos*/
h1 {
    color: #f01;
    font-size: 2.5em;
    text-align: center;
}
/*Seletores de classe*/
.link{
    display: inline-block;
    margin: 0 5% 0 5%;
    border: solid 2px red;
    background-color: rgb(255, 0, 0, 0.2);
    border-radius: 5px;
    transition: background-color 0.5s ease-in;

/*Nesting elementos*/
    /*Nesting pseudo-elementos*/
    &:hover{
        background-color: red;
    }

a{
    text-decoration: none;
    color: red;
}


}

/*Seletores de ID*/
#menu ul {
    text-align: center;
}