/*Estilizando as páginas do projeto*/

/*Alterando o fundo do cabeçalho*/
#cabecalho {
  background-color: blue;
}

/*Estilizando os títulos*/
h1,
h2 {
  font-family: serif;
}

/*Editando os links da barra de navegação*/
nav a {
  font-weight: bold;
}

/*Margem interna para elementos da classe .container*/
.container {
  padding: 20px;
}

/*Ajustando o espaçamento entre as linhas do conteudo section*/
#conteudo {
  line-height: 1.5;
}

/*Estilizando o formulário para contato form*/
form {
  border: 1px solid gray;
  padding: 10px;
}

/*Aplicando cor verde para os parágrafos*/
p {
  color: green;
}
