/*Estilizando as páginas do projeto*/

/*Alterando o fundo do cabeçalho*/
#cabecalho {
  background-color: blue;
}

/*Estilizando os títulos*/
h1,
h2 {
  font-family: serif;
}

/*Editando os links da barra de navegação*/
nav a {
  font-weight: bold;
}
